@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans:wght@400;500;600;700&display=swap');
@font-face {
  font-family: 'Gardenia-Regular';
  src: url('./assets/fonts/gardenia-regular-webfont.woff2') format('woff2'),
       url('./assets/fonts/gardenia-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
:root{
  --light-mode-background: #e0e0e0;
  --border-color: #a4a7a0;
  --text-color: #2f2f2f;
  --table-light-color: #f0f0f0;
  --table-dark-color: #f2f2f2;
  --dark-mode-background: #262736;
  --dark-mode-table-light-color: #2e2f42;
  --dark-mode-table-dark-color: #1a1b25;
}

body {
  font-family: 'Work-Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-mode-background);
  color: var(--text-color);
  height: 100%;
}

h1 {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
}

h2 {
  text-align: center;
  margin: 10px;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
}

h3 {
  text-align: center;
  margin: 10px;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--border-color);
}

svg {
  display: block;
  margin: auto;
  padding: 8px;
}

th {
  background-color: var(--table-light-color);
  border-style:solid;
  border-width:0px;
  color:var(--text-color);
  padding:10px 5px;
}

th:first-child {
  border-top-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
}

td {
  text-align: left;
  padding: 15px;
}

tr:nth-child(odd) {background-color: var(--table-dark-color);}

a {
  border-radius: 18px;
  border: 1px solid var(--border-color);
  display:inline-block;
	cursor:pointer;
	color: var(--text-color);
	font-size:15px;
	font-weight:bold;
  padding:20px 25px;
	text-decoration:none;
  margin: 10px;
}
a:hover {
  transition:all .75s ease;
  border-radius: 18px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow:  14px 14px 29px #bebebe,
             -14px -14px 29px #ffffff;
}

a:active {
  border-radius: 18px;
  background: #e0e0e0;
  box-shadow: inset 14px 14px 29px #bebebe,
            inset -14px -14px 29px #ffffff;
}

.flexChild {
  text-align: center;
  flex: 1;
  border-radius: 18px;
  margin: 8px;
}

.gridParent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.flexParent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.smallButton {
  padding: 10px 25px;
}

.headerFiller {
  flex: 1;
}

main{
  min-height: calc(100vh - 70px);
}

footer{
  margin-top:15px;
  height:50px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color:var(--dark-mode-background);
    color: white;
  }

  a{
    color:white;
  }

  table {
    background:var(--dark-mode-table-dark-color);
  }

  tr:nth-child(odd) {background-color: var(--dark-mode-table-light-color);}

  th {
    color: white;
    background-color:var(--dark-mode-table-light-color);
  }

  a:hover{
    background: linear-gradient(145deg, #222331, #292a3a);
    box-shadow:  20px 20px 60px #20212e,
                -20px -20px 60px #2c2d3e;
  }

  a:active{
    background: #262736;
    box-shadow: inset 20px 20px 60px #20212e,
                inset -20px -20px 60px #2c2d3e;
  }
  
  svg{
    fill:white;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  h3 {
    text-align: center;
  }

  .gridParent {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 640px) {

  .gridParent {
    grid-template-columns: 1fr 1fr 1fr;
  }
}