@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans:wght@400;500;600;700&display=swap');
@font-face {
  font-family: 'Gardenia-Regular';
  src: url('./assets/fonts/gardenia-regular-webfont.woff2') format('woff2'),
       url('./assets/fonts/gardenia-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e0e0e0;
  color:#2f2f2f;
  height: 100%;
}

h1 {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
}

h2 {
  text-align: center;
  margin: 10px;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
}

h3 {
  text-align: center;
  margin: 10px;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  border-collapse: separate;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #A4A7A0;

}

svg {
  display: block;
  margin: auto;
  padding: 8px;
}

th {
  background-color:#f0f0f0;border-color:#ccc;border-style:solid;border-width:0px;color:#333;padding:10px 5px;
}

th:first-child {
  border-top-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
}

td {
  text-align: left;
  padding: 15px;
}


tr:nth-child(odd) {background-color: #f2f2f2;}

a {
  border-radius: 18px;
  background: #e0e0e0;
  border: 1px solid #A4A7A0;
  display:inline-block;
	cursor:pointer;
	color:#2f2f2f;
	font-size:15px;
	font-weight:bold;
  padding:20px 25px;
	text-decoration:none;
     margin: 10px;
}
a:hover {
  transition:all .75s ease;
  border-radius: 18px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow:  14px 14px 29px #bebebe,
             -14px -14px 29px #ffffff;
}

a:active {
  border-radius: 18px;
  background: #e0e0e0;
  box-shadow: inset 14px 14px 29px #bebebe,
            inset -14px -14px 29px #ffffff;
}




.flexChild {
text-align: center;
    flex: 1;
    border-radius: 18px;
    background: #e0e0e0;
   margin: 8px;
}

.gridParent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}


.flexParent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.smallButton {
  padding: 10px 25px;
}

.headerFiller {
  flex: 1;
}

main{
  min-height: calc(100vh - 70px);
}

footer{
  margin-top:15px;
  height:50px;
}



@media (prefers-color-scheme: dark) {
  body {
    background-color:#262736
  }
  a {
    background: #262736;
    color: white;
  }

  tr:nth-child(odd) {background-color: #2e2f42;}

  th {
    background-color:#2e2f42;border-color:#ccc;border-style:solid;border-width:0px;color:white;padding:10px 5px;
  }




  a:hover{
    background: linear-gradient(145deg, #222331, #292a3a);
    box-shadow:  20px 20px 60px #20212e,
             -20px -20px 60px #2c2d3e;
  }

  a:active{
    background: #262736;
box-shadow: inset 20px 20px 60px #20212e,
            inset -20px -20px 60px #2c2d3e;
  }
    
  .flexChild {
    background: #262736;

    color: white;
  }

  table {
    border-collapse: collapse;
    width: 95%;
    background: #1a1b25;
    color: white;
  
  }

  h1 {
    color:white;
  }
  h2 {
    color:white;
  }
  h3 {
    color:white;
  }

  svg{
    fill:white;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  h3 {
    text-align: center;
  }

  .gridParent {
    grid-template-columns: 1fr 1fr;
  }
}