@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');
@font-face {
  font-family: 'Comic Sans MS';
  src: url('/assets/fonts/comicSans/ComicSansMS.woff2') format('woff2'),
      url('/assets/fonts/comicSans/ComicSansMS.woff') format('woff'),
      url('/assets/fonts/comicSans/ComicSansMS.ttf') format('truetype');
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

a {
    color:black;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
}

th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid black;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.toc-div {
  width: 200px;
  border-style: solid;
}

.toc-div a {
  background-color: #eae1ef; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.toc-div a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.navbar {
  overflow: hidden;
  background-color: #696969;
  color: black;
  padding: 10px;
  text-decoration: none;
}


.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}


@media (prefers-color-scheme: dark) {
    :root {
        background-color: #1e1f23;
        color: white;
    }

    .toc-div a{
        background-color: #301934;
        color:white;
    }

    .toc-div a:hover{
        background-color: #892cdc;
        color: white;
    }

    table: {
        border-color: #ccc;
    }

    tr:nth-child(even) {
        background-color: #292929;
    }
}