@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');
@font-face {
  font-family: 'Comic Sans MS';
  src: url('/assets/fonts/comicSans/ComicSansMS.woff2') format('woff2'),
      url('/assets/fonts/comicSans/ComicSansMS.woff') format('woff'),
      url('/assets/fonts/comicSans/ComicSansMS.ttf') format('truetype');
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

a {
    color:black;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
}

th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid black;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.toc-div {
  width: 200px;
  border-style: solid;
}

.toc-div a {
  background-color: #eae1ef; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.toc-div a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.navbar {
  overflow: hidden;
  background-color: #eee;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


@media (prefers-color-scheme: dark) {
    :root {
        background-color: #1e1f23;
        color: white;
    }

    .toc-div a{
        background-color: #301934;
        color:white;
    }

    .toc-div a:hover{
        background-color: #892cdc;
        color: white;
    }

    table: {
        border-color: #ccc;
    }

    tr:nth-child(even) {
        background-color: #292929;
    }
}